# Ignore environment variables
.env
*.env

# Ignore config and secrets
config.json
secrets.py
database.ini
private_key.pem

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore VS Code settings (optional)
.vscode/
